:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-primary: #90d895;
    --color-secondary: #52723a;
    --color-tertiary: #1f492f;
    --color-accent: #2b74b9;
    --background-color: #242424;
    --text-color: #f9f9f9;
}

a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: inherit;
}
a:hover {
    color: var(--text-color);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-secondary);
    cursor: pointer;
    margin: 0.25rem;
    transition: background-color 0.25s;
}
button:hover {
    background-color: var(--color-tertiary);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 320px;
    margin: 0 auto;
}
form input {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border-radius: 8px;
    border: 1px solid var(--color-secondary);
    transition: border-color 0.25s;
}
form > div {
    border-radius: 8px;
    border: 1px solid var(--color-secondary);
    background-color: rgba(255, 255, 255, 0.1);
    transition: border-color 0.25s;
    padding: 0.6em 1.2em;
}
form > div,
form > label {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    gap: 0.5rem;
}
form input[type='radio'] {
    margin-right: 0.5rem;
}

li {
    list-style-type: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    background-color: var(--color-tertiary);
}
nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav > ul > li {
    display: flex;
    align-items: center;
}
nav > ul > li > a {
    padding: 1rem;
    transition: background-color 0.15s;
}
nav > ul > li > a:hover {
    background-color: var(--color-secondary);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: var(--background-color);

        --background-color: #fefefe;
        --text-color: #213547;
    }
}
